<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/header :: header-css"/>
    <title>User Page</title>
</head>
<body>
    <div th:replace="common/header :: header"/>
    <div class="container">
        <div class="jumbotron">
            <div class="row justify-content-center">
                <h2>
                    User Page<br>
                    <small class="text-muted">Restricted to authenticated users.</small>
                </h2>
            </div>
        </div>
    </div>
</body>
</html>