<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Error Page</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center v-center">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>403 - Access Denied Page</h2>
                <div th:inline="text" class="error-details">Sorry '[[${#httpServletRequest.remoteUser}]]',
                you do not have required permission to access this page.</div>
                <div class="error-actions">
                    <a href="/home" class="btn btn-primary">
                        <i class="icon-home icon-white"></i>Take Me Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



